.header_container {
  width: 100%;
  background-color: #7a79fd;
  height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header_menu_p {
  font-size: 26px;
  font-weight: 600;
  color: white;
  margin-right: 20px;
  transition: 0.3s ease-in;
}

.header_menu_p:hover {
  transform: skew(-30deg);
}

.logoImg {
  width: 180px;
  height: 60px;
  margin-left: 20px;
}

.header_btns {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_btn {
  background-color: white;
  border-radius: 20px;
  border: none;
  width: 120px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.header_btn:hover {
  transform: scale(1.1);
  transition: ease-in 0.3s;
}
