.container {
  width: 100%;
  height: 100%;
}
.main_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_container_back_ground {
  width: 70%;
  height: 100%;
}
.main_img {
  width: 100%;
  height: 100%;
}
